@import "../../../global-styles/css-variables.scss";

.view-card-body {
    display: flex;
    justify-content: space-around;

    height: 150px;
    padding: 10px 15px;
    border-width: 0px 5px 5px 5px;
    border-style: solid;
    border-color: $licorice;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px 50px 10px 50px;

    background-color: $van-dyke;
}

.view-card-toolbar {
    display: flex;
    justify-content: left;

    height: 20px;
    padding: 10px 15px;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: $licorice;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 50px;

    color: $pure-white;
    font-family: $primary-font;
    font-weight: bold;

    background-color: $van-dyke;
}

.view-card-content {
    display: flex;
    align-items: left;

    width: 100%;
    margin: 0px 0px 0px 15px;
}

.view-separator {
    width: 2px;

    background-color: $licorice;
}

.view-text-container {
    margin: 0px 50% 0px 0px;

    color: $pure-white;
    font-family: $primary-font;
    font-size: large;

    background-color: transparent;
}