.add-body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    border: 5px solid #281e1e;
    border-radius: 15px;
    margin: 0px 50px 10px 50px;

    text-align: center;

    background-color: #503c3c;
}

.add-text-container {
    width: fit-content;
    height: fit-content;
    padding: 0;
    border-bottom: 5px solid #281e1e;
    border-radius: 3px;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-body:hover {
    background-color: #614949;
}