// colors
$licorice: #281e1e;
$van-dyke: #503c3c;
$rose-ebony: #614949;
$khaki: #d0c8b6;
$papaya-whip: #faf0dc;
$cosmic-latte: #fff5e0;
$pure-white: #ffffff;
$pure-black: #000000;

// border
$card-border: 5px solid $licorice;
$test-border: 2px solid $pure-black;
$title-bottom: 2px solid $licorice;

// font
$primary-font: Verdana, Geneva, Tahoma, sans-serif;
$header-size: 1.5rem;