@import "../global-styles/css-variables.scss";

@font-face {
  font-family: 'soopa';
  src: url('./fonts/soopafre.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
.page-header {
  padding-top: 15px;
  margin: 0 50px;

  color: #281e1e;
  font-family: $header-font;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

.main-button {
  margin: 1%;
  border: 0;
  border-radius: 15px;
  padding: 7px 13px;

  font-family: $primary-font;
  font-weight: bold;
  color: white;

  background-color: $licorice;
  transition-duration: 0.3s;
}

.main-button:hover {
  background-color: #423232;
}


.main_container {
    display: flex;
    height: 100vh;
}

.App {
  height: 100vh;
  background-color: $papaya-whip;
}

.login-input-header{
  font-size: 100px;
  font-family: $header-font;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column; 
  color: $licorice;
  margin: 100px;
}

.question-text {
  margin: 10px 0; 

  color: black;  
  font-size: 18px;
}

.error-message {
  margin-top:auto;

  color:red;
  font-weight: bold;
}

.logo-link {
  position: absolute;
  top: 20px;    /* Adjust to move logo down a little */
  left: 100px;   /* Adjust to move logo to the left */
  display: block;
}

.logo-image {
  width: 50px;    /* Adjust to your desired logo size */
  height: auto;
}

.button-row{
  display: flex;
  justify-content: center;
  gap: 20px; /*how to make them completely centered within the email button?*/
  margin-top: -100px;
}


input[type="email"].basic-input,
input[type="password"].basic-input,
input[type="text"].basic-input {
  width: 15%;
  padding: 12px;
  margin: 8px;
  margin-right: 10px;
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="email"].basic-input:focus,
input[type="password"].basic-input:focus,
input[type="text"].basic-input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
  outline: none;
}