.page-header {
  padding: 15px 0px 0px 50px;

  color: #281e1e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.main-button {
  margin: 1%;
  border: 0;
  border-radius: 15px;
  padding: 7px 13px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;

  background-color: #281e1e;

  transition-duration: 0.3s;
}

.main-button:hover {
  background-color: #423232;
}


.main_container {
    display: flex;
    height: 100vh;
  }

  .App {
    height: 100vh;
    background-color: #FAF0DC;
  }

  .question-text {
    margin: 10px 0;    /* Add some margin for spacing */

    color: black;      /* Set the text color */
    font-size: 18px;   /* Set the font size */
  }

  .error-message {
    margin-top:auto;

    color:red;
    font-weight: bold;
  }
  
  .logo_image {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  
  input[type="email"].basic-input,
  input[type="password"].basic-input,
  input[type="text"].basic-input {
    width: 15%;
    padding: 12px;
    margin: 8px;
    margin-right: 10px;
    
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;

    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  input[type="email"].basic-input:focus,
  input[type="password"].basic-input:focus,
  input[type="text"].basic-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px 0 rgba(102, 175, 233, 0.6);
    outline: none;
  }