@import "../../global-styles/css-variables.scss";

.folder-mode-info-header-container {
    margin: auto;
    width: 95%;
}

.folder-utils-container {
    display: flex;
    justify-content: space-between;
}

.folder-mode-button-container {
    display: flex;
    justify-content: right;
    width: 50%;
    height: 50%;
}

.title-input {
    border: transparent;
    border-bottom: $title-bottom;
    margin: 12px 0px;
    
    font-size: large;
    
    background-color: transparent;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.current-directory {
    font-family: $primary-font;
}