@import "../../global-styles/css-variables.scss";

.folder-mode-info-header-container {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
}

.folder-utils-container {
    display: flex;
    justify-content: space-between;
}

.folder-mode-button-container {
    display: flex;
    justify-content: right;
    width: 50%;
    height: 50%;
}

.title-input {
    border: transparent;
    border-bottom: $title-bottom;
    margin: 12px 0px 12px 0px;
    
    font-size: large;
    
    background-color: transparent;
}

.title-input:focus {
    box-shadow: none;
    outline: none;
}

.current-directory {
    font-family: $primary-font;
}

.current-directory-link:hover {
    cursor: pointer;
}

.folder-edit-icon-container {
    margin: 0px 50px 10px 50px;
}

