@import "../../global-styles/css-variables.scss";

.page-header-container {
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 50.9%;
    margin: auto;
}