@import "../../global-styles/css-variables.scss";

.flashcard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.folder-mode-info-header-container {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.page-header {
  font-family: $primary-font;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.current-directory {
  font-family: $primary-font;
}

.current-directory-link:hover {
  cursor: pointer;
}
