.site {
    background-color: #faf0dc;
    width: 100vw; 
    height: 100vh;
}

.folder-window-container {
    display: flex;
    justify-content: center;
}

.buttons-header-container {
    margin: 0 5%;
    display: flex;
    justify-content: space-around; 
}