@import "../../../global-styles/css-variables.scss";

.folder-window-container {
    width: 50%;
    margin: auto;
}

.folder-window {
    font-family: $primary-font;
    width: 100%;
}

.folder-window-header {
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 15px;

    background-color: $licorice;
}

.folder-window-body {
    padding: 10px;
    min-height: 40vh;
    
    border: $card-border;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background-color: $pure-white;
}