.folder-window {
    display: flex;
    flex-direction: column;

    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.folder-window-header {
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-color: #281E1E;
}

.folder-window-body {
    padding: 10px;
    
    border: 3px solid #281E1E;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background-color: white;
}